ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
}

nav{
    background-color: rgb(219,0,142);
}

ul li a:hover{
    background-color: red;
    color: yellow;
}

aside ul li{
    display: 
}